<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Faker API Test Suite" parallel="classes" thread-count="2">
    <test name="Faker API Tests">
        <classes>
            <class name="com.sb.automation.tests.AddressesAPITest"/>
            <class name="com.sb.automation.tests.BooksAPITest"/>
        </classes>
    </test>
</suite>

